@import "utils/variables";
@import "utils/functions";
@import "utils/mixins";
@import "utils/extensions";

@import "base/base";
@import "base/display";
@import "layout/container";
@import "components/review";
@import "components/card";
@import "components/hero";

@import "pages/home";

@import "https://fonts.googleapis.com/css?family=League+Spartan:500,700";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
  /* or 129% */

  letter-spacing: -0.303571px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
