@import "utils/variables";
@import "utils/functions";
@import "utils/mixins";
@import "utils/extensions";

@import "base/base";
@import "base/display";
@import "base/typography";


@import "layout/container";

@import "pages/home";

@import "https://fonts.googleapis.com/css?family=League+Spartan:500,700";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', serif;
  font-style: normal;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
