body {
  padding-top: 82px;
  @media (min-width: map-get($width-map, "sm")) {
    padding-top: 118px;
  }
}

.comments-section{
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 99px;
}